.card-note
{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;           
    justify-content: center;   
    align-items: center;
    text-align: center;
    background: #854F6C;
}

.empty-note
{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;           
    justify-content: center;   
    align-items: center;
    background: white;
    opacity: 0.6;
}

.notes-grid
{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
}
