.card-note
{
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border:  solid;
    border-radius: 20px;
    display: flex;           
    justify-content: center;   
    align-items: center;
    text-align: center;
    background: #854F6C;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-note:hover
{
    transform: scale(1.05);
    opacity: 0.8;
}

.delete-btn
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #522B5B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 18px 20px;
    cursor: pointer;
    display: none;
}

.card-note:hover .delete-btn
{
    display: block;
}

.empty-note
{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;           
    justify-content: center;   
    align-items: center;
    background: white;
    opacity: 0.6;
}

.notes-grid
{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 10px;
}


