.note-preview 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 26px;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.note-edit 
{
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.note-edit input,
.note-edit textarea 
{
    padding: 8px;
    font-size: 14px;
}

.note-edit-buttons
{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
