.button {
    background: #854F6C;
    color: #fbe4d8;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    margin: 1rem;
}

.button:hover {
    opacity: 0.8;
}