@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
  color-scheme: light dark;
  color: #1a1a1a;
  background-color: white;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  box-sizing: border-box;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: burlywood;
  color: brown;
  padding: 20px;
}

header h3 {
  margin: 0;
}

header span {
  font-size: 14px;
  opacity: 0.9;
}

li {
  font-size: medium;
}

section {
  display: grid;
  border: solid 2px;
  border-radius: 10px;
}

p {
  grid:unset;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

center {
  align-items: center;
  padding: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.note-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
}

.note-title {
  flex: 1;
}

.note-time {
  margin: 0 12px;
  color: blue;
}

.note-delete {
  background: none;
  border: none;
  cursor: pointer;
}
