@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
  color-scheme: light dark;
  color: #fbe4d8;
  background-color: #fbe4d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: #DFB6B2;
  color: #190019;
  padding: 20px;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: #fbe4d8;
  color: #190019;
  padding: 20px;
  border-radius: 20px;
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal input
{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: 80px;
  background: #DFB6B2;
  color: #190019;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal textarea 
{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: 300px;
  background: #DFB6B2;
  color: #190019;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
}
